:root {
    --primary: #d44141;
    --secondary: #dc9c9c;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url("./images/background.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden {
    display:none;
}
.active {
    border: 4px solid red
}
.cropped {
    height:33px;
}
.header {
    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    /* min-width: 800px; */
    max-width: 100%;
}

.container section {
    width: 50%;
    height:fit-content;
    min-width: 400px;
    max-width:100%;
    text-align: center;
}

.clicker-image img {

}

.clicker-image {   
    cursor: pointer;
    user-select: none;
}

.clicker-section {
    display: flex;
    width: 100%;
    height: 100%;
    /* align-items: center;
    flex-direction: column; */
}
.clicker-section #ctp {
    /* color: var(--secondary);
    padding:.3rem; */
}

.header-image {
    /* position: relative; */
}

.header-title {
    /* position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--secondary);
    background-color: var(--primary); */
}

#blessings {
    font-size: 5rem;
}
#blessings span {
    /* font-size: 3rem; */
}

.header-image img {
    width: 60%;
}

#prayer-list {
    background-color: var(--secondary);
    overflow-y: scroll;
    width:100%;
}
#prayers {
    min-height: 33px;
    max-height:300px;
    overflow-y: scroll;
}
/* #prayers .scroll {
    overflow-y: scroll;
} */
#prayers-button {
    width:90%;
    margin:.2rem;
}

#shop {
    background-color: var(--primary);
    height: 88vh;
    /* overflow-y: scroll; */
}

.shop-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.shop-item img {
    width: 100px;
    height: 100px;
}
.item-description .item-cost {
    color: goldenrod;
    font-size: 2rem;
}
.item-description {
    font-size: 1.5rem;
}
.item-description h1 {
    font-size: 2rem;
}
.item-quantity {
    font-size: 4rem;
}

#achievements-div {
    background-color: var(--primary);
    height:12vh;
    /* overflow-y:hidden; */
}
#achievements {
    max-height: 60%;
    background-color: var(--secondary);
    padding:3px;
    overflow-y:scroll;
}
#achievements > * {
    /* display: flex; */
}

#upgrades {
    background-color: var(--secondary);
    text-align: left;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: visible;
    position: relative;
}

.upgrade {
    position: relative;
    /* display: inline-block; */
    max-width: 100px;
    width: 75px;
    height: 75px;
    background-color: var(--secondary);
    margin: 1rem;
    overflow-x: visible;
}

.upgrade .upgrade-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
}

.upgrade:hover {
    cursor: pointer;
}

.upgrade-title {
    
}

#upgrades-info {
    height:70px;
    width:98%;
    /* position:absolute; */
    /* top: 0; */
    /* left: 0; */
    background-color: var(--primary);
    padding-top:5px;
    padding-left:5px;
}
#upgrades-info .display-image {
    display:block;
    width: 50px;
    height: 50px;
    /* position:relative;
    top:11px;
    left:11px; */
}
.upgrades-info-container {
    display: flex;
}
.upgrades-info-container > * {
    /* margin:right; */
}
.upgrades-info-container div {
    display: flex;
    flex-direction: column;
}
.upgrade-display {
    display: flex;
    width:100px;
    
    position: absolute;
    top: -25px;
    left:-25px;
    /* left:-500%; */
    transform: translateX();
    visibility: hidden;
    background-color: var(--primary);
    padding:.5rem;
    display: none;
}
.upgrade-display .display-image {
    display:block;
    width: 75px;
    height: 75px;
}
.upgrade:hover .upgrade-display {
    /* visibility: visible; */
    /* display:block; */
}
.upgrade-display:hover .upgrade-display {
    visibility: visible;
}

.shop-section-title {
    color: white;
}
#buildings {
    max-height:50%;
    overflow-y:scroll;
}
