* {
    margin: 0;
    padding: 0;
}

.upgrade {
    position: relative;
    /* display: inline-block; */
    max-width: 100px;
    width: 75px;
    height: 75px;
    background-color: red;
    margin: 1rem;
}

.upgrade img {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
}

#upgrades {
    background-color: lightblue;
    text-align: left;
    max-height: 120px;
    overflow-y: scroll;
}

.upgrade:hover {
    cursor: pointer;
}

.upgrade-title {

}

.upgrade-description {
 position: absolute;
 top: 0;
 transform: translateY(-100%);
 visibility: hidden;
}

.upgrade:hover .upgrade-description {
    visibility: visible;
}

.header {
    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.container section {
    width: 33%;
    text-align: center;
}

.clicker-image img {
    width: 8rem;
    max-width: 8rem;
    transform: rotate3d(0,1,0.5,45deg)
}

.clicker-image {
    background-color: white;
    border: 10px solid green;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    padding: 2rem;
    cursor: pointer;
    user-select: none;
}

.clicker-section {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.header-image {
    position: relative;
}

.header-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: goldenrod;
    background-color: rgba(127,127,127, 0.5);
}

#blessings {
    font-size: 5rem;
}

.header-image img {
    width: 60%;
}

.shop-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.shop-item img {
    width: 100px;
    height: 100px;
}

.item-description .item-cost {
    color: goldenrod;
    font-size: 2rem;
}

.item-description {
    font-size: 1.5rem;
}

.item-description h1 {
    font-size: 2rem;
}



.item-quantity {
    font-size: 4rem;
}

body {
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#shop {
    background-color: burlywood;
    max-height: 95vh;
    overflow-y: scroll;
}